<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>どこつぶ</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	rel="stylesheet">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-warning">
		<i class="fas fa-comments navbar-brand text-white">どこつぶ</i>
	</nav>
	<div class="container">
		<div class="row">
			<div class="mx-auto col-md-6">
				<form action="#" th:action="@{Login}" method="post" id="loginForm"
					th:object="${loginForm}" class="form-signin">
					<h1 class="mt-5 h3">ログイン</h1>
					<div th:if="${errmsg != null}">
						<p th:text="${errmsg}" class="alert alert-danger" role="alert"></p>
					</div>
					<div class="form-group">
						<label for="inputAccount">アカウント名</label> <input type="text"
							name="account" class="form-control" id="inputAccount" required>
					</div>
					<div class="form-group">
						<label for="inputPassword">パスワード</label> <input type="password"
							name="pass" class="form-control" id="inputPassword" required>
					</div>
					<input type="submit" value="ログイン"
						class="btn btn-warning text-white font-weight-bold">
				</form>
				<a href="#" th:href="@{/Registation}"> &nbsp;新規登録</a>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>
</html>